.p-cont{
    padding:10px;
    line-height:30px;
    
}

.text-center {
    border:1px solid blue;
    justify-content: center;
    margin:20px;
    border-radius:5px;
}

ion-card{
    --background: #020b27;
    --color: #fff;
  }

  .new{
      border: 1px blue;
      padding-right:20px
  }

  .btn{
      background:#fff;
      border-radius:5px;
      
  }