.p-cont{
    padding:10px;
    line-height:30px;
    
}

.text-center {
    border:1px solid blue;
    justify-content: center;
    margin:20px;
    border-radius:5px;
}

ion-card{
    --background: #01235f;
    --color: #fff;
  }